<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='description' content='This is my first html page'>
        <link rel='stylesheet' href='/css/about.css'>
        <script src='./script.js' async defer></script>
        <title>
            About Us
        </title>
    </head>
    <body>
        <%- include('partials/header') %>
        <div class="main">
            <p>Welcome to Pirates of Web, an exciting online treasure hunt game based on the theme of cars! Test your wit and embark on a thrilling adventure as you navigate through a series of riddles, clues, and challenges in search of the ultimate treasure. This game will put your problem-solving skills to the test and keep you engaged till the very end.
            </p>
            <p>
            Pirates of Web was developed by Aditya Patil, a talented and passionate third-year Computer Engineering student at Pune Institute of Computer Technology. With a deep interest in web development and a love for gaming, Aditya combined his skills and passion to create this captivating online treasure hunt experience.</p> 
        </div>
        <%- include('partials/footer') %>

    </body>
</html>