<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="This is my first html page" />
    <link rel="stylesheet" href="/css/deadend.css" />
    <script src="./script.js" async defer></script>
    <title>Deadend</title>
  </head>
  <body>
    <div class="header">
      <nav>
        <ul>
          <li><a href="/player/riddle/restart">Restart Game</a></li>
          <li><a href="/player/riddle/continue">Go Back</a></li>
        </ul>
      </nav>
    </div>
    <div class="deadend">
        <h1>
            Oops you've reached a deadend.
        </h1>
    </div>
  </body>
</html>
