<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="This is my first html page" />
    <link rel="stylesheet" href="/css/success.css" />
    <script src="./script.js" async defer></script>
    <title>Sucess</title>
  </head>
  <body>
      <div class="header">
        <nav>
          <ul>
            <li>
              <a href="/player/riddle/restart">Restart Game</a>
            </li>
            <li>
              <a href="/player/dashboard">Go to Dashboard</a>
            </li>
          </ul>
        </nav>
      </div>
    <div class="success">
        <h1>
            Congratulations! You've cracked it!
        </h1>
    </div>
  </body>
</html>
